*.pem
*.key
*.pub
known_hosts
known_hosts.old
.DS_Store
*.swp
*.swo
*~
*.bak
__pycache__/
node_modules/

# yazi (plugins instalados via ya pkg + estado)
yazi/.config/yazi/bookmarks
yazi/.config/yazi/package.toml
yazi/.config/yazi/plugins/
