* {
    background:           #13151aE6;
    background-alt:       #1b1f27FF;
    foreground:           #c0caf5FF;
    selected-background:  #e0af68FF;
    selected-foreground:  #13151aFF;
    border:               #f7768eFF;
    active:               #7aa2f7FF;
    urgent:               #db4b4bFF;
}
