* {
    background:         #0D1321E3;
    background-alt:     #1A1F35FF;
    foreground:         #D8E2F0FF;
    selected-background: #00C6E2FF;
    selected-foreground: #070B14FF;
    border:             #FB5388FF;
    active:             #2EC2BCFF;
    urgent:             #E9395FFF;
}