@define-color bar-bg rgba(0, 0, 0, 0);

@define-color main-bg #282828;
@define-color main-fg #ebdbb2;

@define-color active-bg #d79921;
@define-color active-fg #282828;

@define-color hover-bg #fabd2f;
@define-color hover-fg #282828;

@define-color red #ea6962;
@define-color orange #d78c7c;
@define-color yellow #d8c477;
@define-color green #a9b665;
@define-color blue #7daea3;
@define-color purple #d3869b;
@define-color pink #d3869b;
@define-color aqua #89b482;
