@define-color bar-bg rgba(10,0,5,0);
@define-color main-bg rgba(10,0,5,1);
@define-color main-fg rgba(181,190,223,1);
@define-color active-bg rgba(41,50,82,1);
@define-color active-fg rgba(218,148,175,1);
@define-color hover-bg rgba(125,75,90,0.4);
@define-color hover-fg rgba(250,180,193,1);

@define-color red #860705;
@define-color orange #860705;
@define-color yellow #B58B98;
@define-color green #7A8F9E;
@define-color blue #293A78;
@define-color purple #293A78;
@define-color pink #FFCCE6;
@define-color aqua #7A8F9E;
